/*App.css*/
input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    outline: none;
    transition: border-color 0.3s ease;

    /* Placeholder color */
    ::placeholder {
        color: #a9a9a9;
    }

    /* On focus style */
    &:focus {
        border-color: #C63D2F; /* Deeper accent for focus */
    }
}

.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #FFBB5C;
}

.App-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.left-section, .right-section {
  flex: 1;
  padding: 20px;
  background-color: #FFBB5C;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.left-section {
  border-right: 1px solid #C63D2F; /* Deeper accent for border */
}

.my-playlist, .playlists, .create-playlist {
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  background-color: #FF9B50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #E25E3E; /* New color for button hover */
}

input {
  padding: 10px;
  border: 1px solid #C63D2F; /* Deeper accent for input border */
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

/* Playlists Section Title */
.playlists h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  border-bottom: 2px solid #FF9B50;
  padding-bottom: 10px;
}

/* Individual Playlist Style */
.playlists ul {
  list-style-type: none;
  padding: 0;
}

.playlists li {
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #C63D2F; /* Deeper accent for list items */
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.playlists li:hover {
  background-color: #E25E3E; /* New color for list item hover */
}

.playlists button {
  margin-left: 10px;
  background-color: #FF9B50;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.playlists button:hover {
  background-color: #E25E3E; /* New color for button hover in playlists */
}
